.container {
  width: 90%;
  // top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: inherit;
  justify-content: center;
  padding: 2em;
  /* border: 5px solid lightcoral; */
}
